<div class="container-fluid px-0 bg-light">
  <div class="container">
    <div class="fix-7-12">
      <h1 class="ae-2 huge fromAbove mb-2 pt-4 howitworks text-center">{{ i18n "howitworks" }}</h1>
    </div>
    <div class="row tour py-5">
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-left d-block">
          <div class="media-body">
            <div class="icon text-center">
              <img src="/assets/img/icons/phone.png" />
            </div>
            <div class="step">{{ i18n "korak1" }}</div>
            <h3>{{ i18n "rezerviraj" }}</h3>
            <p class="tiny opacity-6">{{ i18n "objasnjenje1" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-left d-block">
          <div class="media-body">
            <div class="icon text-center">
              <img src="/assets/img/icons/tea.png" />
            </div>
            <div class="step">{{ i18n "korak2" }}</div>
            <h3>{{ i18n "procitaj" }}</h3>
            <p class="tiny opacity-6">{{ i18n "objasnjenje2" }}</p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services text-left d-block">
          <div class="media-body">
            <div class="icon text-center">
              <img src="/assets/img/icons/relax.png" />
            </div>
            <div class="step">{{ i18n "korak3" }}</div>
            <h3>{{ i18n "opustiSe" }}</h3>
            <p class="tiny opacity-6">{{ i18n "objasnjenje3" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>