<section class="ftco-section ftco-services-2" id="services-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
  <div class="col-md-12 heading-section text-center ftco-animate">
      <span class="subheading">{{ i18n "sub1"}}</span>
    <h2 class="mb-4">{{ i18n "titleServices"}}</h2>
    <p>{{ i18n "subtitleServices"}}</p>
  </div>
</div>
<div class="row">
    <div class="col-md d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services text-center d-block">
      <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-gliding"></span></div>
      <div class="media-body">
        <h3 class="heading mb-3">{{ i18n "activity"}}</h3>
        <p>{{i18n "activities"}}</p>
      </div>
    </div>      
  </div>
  <div class="col-md d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services text-center d-block">
      <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-tour-guide"></span></div>
      <div class="media-body">
        <h3 class="heading mb-3">{{i18n "privateGuide"}}</h3>
        <p>{{i18n "guide"}}</p>
      </div>
    </div>      
  </div>
  <div class="col-md d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services text-center d-block">
      <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-world"></span></div>
      <div class="media-body">
        <h3 class="heading mb-3">{{i18n "travelArrangement"}}</h3>
        <p>{{i18n "arrangement"}}</p>
      </div>
    </div>      
  </div>
  <div class="col-md d-flex align-self-stretch ftco-animate">
    <div class="media block-6 services text-center d-block">
      <div class="icon justify-content-center align-items-center d-flex"><span class="flaticon-map-of-roads"></span></div>
      <div class="media-body">
        <h3 class="heading mb-3">{{i18n "locationManager"}}</h3>
        <p>{{i18n "manager"}}</p>
      </div>
    </div>      
  </div>
</div>
    </div>
</section>